html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(red ,pink , red );
  background-position: center;
  
}
canvas {
  display: block;
}
main {
  position: absolute;
  top: 350px;
  left: 250px;
}

;.kl